/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
	box-sizing: border-box
}

*,
*:before,
*:after {
	box-sizing: inherit
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
	display: block
}

summary {
	display: list-item
}

audio,
canvas,
progress,
video {
	display: inline-block
}

progress {
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline-width: 0
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: bolder
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -0.25em
}

sup {
	top: -0.5em
}

figure {
	margin: 1em 40px;
	display: inline-block
}

img {
	border-style: none
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

button,
input,
select,
textarea,
optgroup {
	font: inherit;
	margin: 0
}

optgroup {
	font-weight: bold
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

textarea {
	overflow: auto
}

[type=checkbox],
[type=radio] {
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

/* End extract */
html,
body {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5
}

html {
	overflow-x: hidden
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 16px
}

.urbstyle-serif {
	font-family: serif
}

.urbstyle-sans-serif {
	font-family: sans-serif
}

.urbstyle-cursive {
	font-family: cursive
}

.urbstyle-monospace {
	font-family: monospace
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0
}

.urbstyle-wide {
	letter-spacing: 4px
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0
}

.urbstyle-image {
	max-width: 100%;
	height: auto
}

img {
	vertical-align: middle
}

a {
	color: inherit
}

.urbstyle-table,
.urbstyle-table-all {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table
}

.urbstyle-table-all {
	border: 1px solid #ccc
}

.urbstyle-bordered tr,
.urbstyle-table-all tr {
	border-bottom: 1px solid #ddd
}

.urbstyle-striped tbody tr:nth-child(even) {
	background-color: #f1f1f1
}

.urbstyle-table-all tr:nth-child(odd) {
	background-color: #fff
}

.urbstyle-table-all tr:nth-child(even) {
	background-color: #f1f1f1
}

.urbstyle-hoverable tbody tr:hover,
.urbstyle-ul.urbstyle-hoverable li:hover {
	background-color: #ccc
}

.urbstyle-centered tr th,
.urbstyle-centered tr td {
	text-align: center
}

.urbstyle-table td,
.urbstyle-table th,
.urbstyle-table-all td,
.urbstyle-table-all th {
	padding: 8px 8px;
	display: table-cell;
	text-align: left;
	vertical-align: top
}

.urbstyle-table th:first-child,
.urbstyle-table td:first-child,
.urbstyle-table-all th:first-child,
.urbstyle-table-all td:first-child {
	padding-left: 16px
}

.urbstyle-btn,
.urbstyle-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
}

.urbstyle-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.urbstyle-btn,
.urbstyle-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.urbstyle-disabled,
.urbstyle-btn:disabled,
.urbstyle-button:disabled {
	cursor: not-allowed;
	opacity: 0.3
}

.urbstyle-disabled *,
:disabled * {
	pointer-events: none
}

.urbstyle-btn.urbstyle-disabled:hover,
.urbstyle-btn:disabled:hover {
	box-shadow: none
}

.urbstyle-badge,
.urbstyle-tag {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center
}

.urbstyle-badge {
	border-radius: 50%
}

.urbstyle-ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

.urbstyle-ul li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd
}

.urbstyle-ul li:last-child {
	border-bottom: none
}

.urbstyle-tooltip,
.urbstyle-display-container {
	position: relative
}

.urbstyle-tooltip .urbstyle-text {
	display: none
}

.urbstyle-tooltip:hover .urbstyle-text {
	display: inline-block
}

.urbstyle-ripple:active {
	opacity: 0.5
}

.urbstyle-ripple {
	transition: opacity 0s
}

.urbstyle-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%
}

.urbstyle-select {
	padding: 9px 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc
}

.urbstyle-dropdown-click,
.urbstyle-dropdown-hover {
	position: relative;
	display: inline-block;
	cursor: pointer
}

.urbstyle-dropdown-hover:hover .urbstyle-dropdown-content {
	display: block
}

.urbstyle-dropdown-hover:first-child,
.urbstyle-dropdown-click:hover {
	background-color: #ccc;
	color: #000
}

.urbstyle-dropdown-hover:hover>.urbstyle-button:first-child,
.urbstyle-dropdown-click:hover>.urbstyle-button:first-child {
	background-color: #ccc;
	color: #000
}

.urbstyle-dropdown-content {
	cursor: auto;
	color: #000;
	background-color: #fff;
	display: none;
	position: absolute;
	min-width: 160px;
	margin: 0;
	padding: 0;
	z-index: 1
}

.urbstyle-check,
.urbstyle-radio {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px
}

.urbstyle-sidebar {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed !important;
	z-index: 1;
	overflow: auto
}

.urbstyle-bar-block .urbstyle-dropdown-hover,
.urbstyle-bar-block .urbstyle-dropdown-click {
	width: 100%
}

.urbstyle-bar-block .urbstyle-dropdown-hover .urbstyle-dropdown-content,
.urbstyle-bar-block .urbstyle-dropdown-click .urbstyle-dropdown-content {
	min-width: 100%
}

.urbstyle-bar-block .urbstyle-dropdown-hover .urbstyle-button,
.urbstyle-bar-block .urbstyle-dropdown-click .urbstyle-button {
	width: 100%;
	text-align: left;
	padding: 8px 16px
}

.urbstyle-main,
#main {
	transition: margin-left .4s
}

.urbstyle-modal {
	z-index: 3;
	display: none;
	padding-top: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4)
}

.urbstyle-modal-content {
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	width: 600px
}

.urbstyle-bar {
	width: 100%;
	overflow: hidden
}

.urbstyle-center .urbstyle-bar {
	display: inline-block;
	width: auto
}

.urbstyle-bar .urbstyle-bar-item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0
}

.urbstyle-bar .urbstyle-dropdown-hover,
.urbstyle-bar .urbstyle-dropdown-click {
	position: static;
	float: left
}

.urbstyle-bar .urbstyle-button {
	white-space: normal
}

.urbstyle-bar-block .urbstyle-bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0
}

.urbstyle-bar-block.urbstyle-center .urbstyle-bar-item {
	text-align: center
}

.urbstyle-block {
	display: block;
	width: 100%
}

.urbstyle-responsive {
	display: block;
	overflow-x: auto
}

.urbstyle-container:after,
.urbstyle-container:before,
.urbstyle-panel:after,
.urbstyle-panel:before,
.urbstyle-row:after,
.urbstyle-row:before,
.urbstyle-row-padding:after,
.urbstyle-row-padding:before,
.urbstyle-cell-row:before,
.urbstyle-cell-row:after,
.urbstyle-clear:after,
.urbstyle-clear:before,
.urbstyle-bar:before,
.urbstyle-bar:after {
	content: "";
	display: table;
	clear: both
}

.urbstyle-col,
.urbstyle-half,
.urbstyle-third,
.urbstyle-twothird,
.urbstyle-threequarter,
.urbstyle-quarter {
	float: left;
	width: 100%
}

.urbstyle-col.s1 {
	width: 8.33333%
}

.urbstyle-col.s2 {
	width: 16.66666%
}

.urbstyle-col.s3 {
	width: 24.99999%
}

.urbstyle-col.s4 {
	width: 33.33333%
}

.urbstyle-col.s5 {
	width: 41.66666%
}

.urbstyle-col.s6 {
	width: 49.99999%
}

.urbstyle-col.s7 {
	width: 58.33333%
}

.urbstyle-col.s8 {
	width: 66.66666%
}

.urbstyle-col.s9 {
	width: 74.99999%
}

.urbstyle-col.s10 {
	width: 83.33333%
}

.urbstyle-col.s11 {
	width: 91.66666%
}

.urbstyle-col.s12 {
	width: 99.99999%
}

@media (min-width:601px) {
	.urbstyle-col.m1 {
		width: 8.33333%
	}

	.urbstyle-col.m2 {
		width: 16.66666%
	}

	.urbstyle-col.m3,
	.urbstyle-quarter {
		width: 24.99999%
	}

	.urbstyle-col.m4,
	.urbstyle-third {
		width: 33.33333%
	}

	.urbstyle-col.m5 {
		width: 41.66666%
	}

	.urbstyle-col.m6,
	.urbstyle-half {
		width: 49.99999%
	}

	.urbstyle-col.m7 {
		width: 58.33333%
	}

	.urbstyle-col.m8,
	.urbstyle-twothird {
		width: 66.66666%
	}

	.urbstyle-col.m9,
	.urbstyle-threequarter {
		width: 74.99999%
	}

	.urbstyle-col.m10 {
		width: 83.33333%
	}

	.urbstyle-col.m11 {
		width: 91.66666%
	}

	.urbstyle-col.m12 {
		width: 99.99999%
	}
}

@media (min-width:993px) {
	.urbstyle-col.l1 {
		width: 8.33333%
	}

	.urbstyle-col.l2 {
		width: 16.66666%
	}

	.urbstyle-col.l3 {
		width: 24.99999%
	}

	.urbstyle-col.l4 {
		width: 33.33333%
	}

	.urbstyle-col.l5 {
		width: 41.66666%
	}

	.urbstyle-col.l6 {
		width: 49.99999%
	}

	.urbstyle-col.l7 {
		width: 58.33333%
	}

	.urbstyle-col.l8 {
		width: 66.66666%
	}

	.urbstyle-col.l9 {
		width: 74.99999%
	}

	.urbstyle-col.l10 {
		width: 83.33333%
	}

	.urbstyle-col.l11 {
		width: 91.66666%
	}

	.urbstyle-col.l12 {
		width: 99.99999%
	}
}

.urbstyle-rest {
	overflow: hidden
}

.urbstyle-stretch {
	margin-left: -16px;
	margin-right: -16px
}

.urbstyle-content,
.urbstyle-auto {
	margin-left: auto;
	margin-right: auto
}

.urbstyle-content {
	max-width: 980px
}

.urbstyle-auto {
	max-width: 1140px
}

.urbstyle-cell-row {
	display: table;
	width: 100%
}

.urbstyle-cell {
	display: table-cell
}

.urbstyle-cell-top {
	vertical-align: top
}

.urbstyle-cell-middle {
	vertical-align: middle
}

.urbstyle-cell-bottom {
	vertical-align: bottom
}

.urbstyle-hide {
	display: none !important
}

.urbstyle-show-block,
.urbstyle-show {
	display: block !important
}

.urbstyle-show-inline-block {
	display: inline-block !important
}

@media (max-width:1205px) {
	.urbstyle-auto {
		max-width: 95%
	}
}

@media (max-width:600px) {
	.urbstyle-modal-content {
		margin: 0 10px;
		width: auto !important
	}

	.urbstyle-modal {
		padding-top: 30px
	}

	.urbstyle-dropdown-hover.urbstyle-mobile .urbstyle-dropdown-content,
	.urbstyle-dropdown-click.urbstyle-mobile .urbstyle-dropdown-content {
		position: relative
	}

	.urbstyle-hide-small {
		display: none !important
	}

	.urbstyle-mobile {
		display: block;
		width: 100% !important
	}

	.urbstyle-bar-item.urbstyle-mobile,
	.urbstyle-dropdown-hover.urbstyle-mobile,
	.urbstyle-dropdown-click.urbstyle-mobile {
		text-align: center
	}

	.urbstyle-dropdown-hover.urbstyle-mobile,
	.urbstyle-dropdown-hover.urbstyle-mobile .urbstyle-btn,
	.urbstyle-dropdown-hover.urbstyle-mobile .urbstyle-button,
	.urbstyle-dropdown-click.urbstyle-mobile,
	.urbstyle-dropdown-click.urbstyle-mobile .urbstyle-btn,
	.urbstyle-dropdown-click.urbstyle-mobile .urbstyle-button {
		width: 100%
	}
}

@media (max-width:768px) {
	.urbstyle-modal-content {
		width: 500px
	}

	.urbstyle-modal {
		padding-top: 50px
	}
}

@media (min-width:993px) {
	.urbstyle-modal-content {
		width: 900px
	}

	.urbstyle-hide-large {
		display: none !important
	}

	.urbstyle-sidebar.urbstyle-collapse {
		display: block !important
	}
}

@media (max-width:992px) and (min-width:601px) {
	.urbstyle-hide-medium {
		display: none !important
	}
}

@media (max-width:992px) {
	.urbstyle-sidebar.urbstyle-collapse {
		display: none
	}

	.urbstyle-main {
		margin-left: 0 !important;
		margin-right: 0 !important
	}

	.urbstyle-auto {
		max-width: 100%
	}
}

.urbstyle-top,
.urbstyle-bottom {
	position: fixed;
	width: 100%;
	z-index: 1
}

.urbstyle-top {
	top: 0
}

.urbstyle-bottom {
	bottom: 0
}

.urbstyle-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2
}

.urbstyle-display-topleft {
	position: absolute;
	left: 0;
	top: 0
}

.urbstyle-display-topright {
	position: absolute;
	right: 0;
	top: 0
}

.urbstyle-display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0
}

.urbstyle-display-bottomright {
	position: absolute;
	right: 0;
	bottom: 0
}

.urbstyle-display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.urbstyle-display-left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(-0%, -50%)
}

.urbstyle-display-right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%)
}

.urbstyle-display-topmiddle {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%)
}

.urbstyle-display-bottommiddle {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%)
}

.urbstyle-display-container:hover .urbstyle-display-hover {
	display: block
}

.urbstyle-display-container:hover span.urbstyle-display-hover {
	display: inline-block
}

.urbstyle-display-hover {
	display: none
}

.urbstyle-display-position {
	position: absolute
}

.urbstyle-circle {
	border-radius: 50%
}

.urbstyle-round-small {
	border-radius: 2px
}

.urbstyle-round,
.urbstyle-round-medium {
	border-radius: 4px
}

.urbstyle-round-large {
	border-radius: 8px
}

.urbstyle-round-xlarge {
	border-radius: 16px
}

.urbstyle-round-xxlarge {
	border-radius: 32px
}

.urbstyle-row-padding,
.urbstyle-row-padding>.urbstyle-half,
.urbstyle-row-padding>.urbstyle-third,
.urbstyle-row-padding>.urbstyle-twothird,
.urbstyle-row-padding>.urbstyle-threequarter,
.urbstyle-row-padding>.urbstyle-quarter,
.urbstyle-row-padding>.urbstyle-col {
	padding: 0 8px
}

.urbstyle-container,
.urbstyle-panel {
	padding: 0.01em 16px
}

.urbstyle-panel {
	margin-top: 16px;
	margin-bottom: 16px
}

.urbstyle-code,
.urbstyle-codespan {
	font-family: Consolas, "courier new";
	font-size: 16px
}

.urbstyle-code {
	width: auto;
	background-color: #fff;
	padding: 8px 12px;
	border-left: 4px solid #4CAF50;
	word-wrap: break-word
}

.urbstyle-codespan {
	color: crimson;
	background-color: #f1f1f1;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 110%
}

.urbstyle-card,
.urbstyle-card-2 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.urbstyle-card-4,
.urbstyle-hover-shadow:hover {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.urbstyle-spin {
	animation: urbstyle-spin 2s infinite linear
}

@keyframes urbstyle-spin {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(359deg)
	}
}

.urbstyle-animate-fading {
	animation: fading 10s infinite
}

@keyframes fading {
	0% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

.urbstyle-animate-opacity {
	animation: opac 0.8s
}

@keyframes opac {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.urbstyle-animate-top {
	position: relative;
	animation: animatetop 0.4s
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

.urbstyle-animate-left {
	position: relative;
	animation: animateleft 0.4s
}

@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0
	}

	to {
		left: 0;
		opacity: 1
	}
}

.urbstyle-animate-right {
	position: relative;
	animation: animateright 0.4s
}

@keyframes animateright {
	from {
		right: -300px;
		opacity: 0
	}

	to {
		right: 0;
		opacity: 1
	}
}

.urbstyle-animate-bottom {
	position: relative;
	animation: animatebottom 0.4s
}

@keyframes animatebottom {
	from {
		bottom: -300px;
		opacity: 0
	}

	to {
		bottom: 0;
		opacity: 1
	}
}

.urbstyle-animate-zoom {
	animation: animatezoom 0.6s
}

@keyframes animatezoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}

.urbstyle-animate-input {
	transition: width 0.4s ease-in-out
}

.urbstyle-animate-input:focus {
	width: 100% !important
}

.urbstyle-opacity,
.urbstyle-hover-opacity:hover {
	opacity: 0.60
}

.urbstyle-opacity-off,
.urbstyle-hover-opacity-off:hover {
	opacity: 1
}

.urbstyle-opacity-max {
	opacity: 0.25
}

.urbstyle-opacity-min {
	opacity: 0.75
}

.urbstyle-greyscale-max,
.urbstyle-grayscale-max,
.urbstyle-hover-greyscale:hover,
.urbstyle-hover-grayscale:hover {
	filter: grayscale(100%)
}

.urbstyle-greyscale,
.urbstyle-grayscale {
	filter: grayscale(75%)
}

.urbstyle-greyscale-min,
.urbstyle-grayscale-min {
	filter: grayscale(50%)
}

.urbstyle-sepia {
	filter: sepia(75%)
}

.urbstyle-sepia-max,
.urbstyle-hover-sepia:hover {
	filter: sepia(100%)
}

.urbstyle-sepia-min {
	filter: sepia(50%)
}

.urbstyle-tiny {
	font-size: 10px !important
}

.urbstyle-small {
	font-size: 12px !important
}

.urbstyle-medium {
	font-size: 15px !important
}

.urbstyle-large {
	font-size: 18px !important
}

.urbstyle-xlarge {
	font-size: 24px !important
}

.urbstyle-xxlarge {
	font-size: 36px !important
}

.urbstyle-xxxlarge {
	font-size: 48px !important
}

.urbstyle-jumbo {
	font-size: 64px !important
}

.urbstyle-left-align {
	text-align: left !important
}

.urbstyle-right-align {
	text-align: right !important
}

.urbstyle-justify {
	text-align: justify !important
}

.urbstyle-center {
	text-align: center !important
}

.urbstyle-border-0 {
	border: 0 !important
}

.urbstyle-border {
	border: 1px solid #ccc !important
}

.urbstyle-border-top {
	border-top: 1px solid #ccc !important
}

.urbstyle-border-bottom {
	border-bottom: 1px solid #ccc !important
}

.urbstyle-border-left {
	border-left: 1px solid #ccc !important
}

.urbstyle-border-right {
	border-right: 1px solid #ccc !important
}

.urbstyle-topbar {
	border-top: 6px solid #ccc !important
}

.urbstyle-bottombar {
	border-bottom: 6px solid #ccc !important
}

.urbstyle-leftbar {
	border-left: 6px solid #ccc !important
}

.urbstyle-rightbar {
	border-right: 6px solid #ccc !important
}

.urbstyle-section,
.urbstyle-code {
	margin-top: 16px !important;
	margin-bottom: 16px !important
}

.urbstyle-margin {
	margin: 16px !important
}

.urbstyle-margin-top {
	margin-top: 16px !important
}

.urbstyle-margin-bottom {
	margin-bottom: 16px !important
}

.urbstyle-margin-left {
	margin-left: 16px !important
}

.urbstyle-margin-right {
	margin-right: 16px !important
}

.urbstyle-padding-small {
	padding: 4px 8px !important
}

.urbstyle-padding {
	padding: 8px 16px !important
}

.urbstyle-padding-large {
	padding: 12px 24px !important
}

.urbstyle-padding-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important
}

.urbstyle-padding-24 {
	padding-top: 24px !important;
	padding-bottom: 24px !important
}

.urbstyle-padding-32 {
	padding-top: 32px !important;
	padding-bottom: 32px !important
}

.urbstyle-padding-48 {
	padding-top: 48px !important;
	padding-bottom: 48px !important
}

.urbstyle-padding-64 {
	padding-top: 64px !important;
	padding-bottom: 64px !important
}

.urbstyle-padding-top-64 {
	padding-top: 64px !important
}

.urbstyle-padding-top-48 {
	padding-top: 48px !important
}

.urbstyle-padding-top-32 {
	padding-top: 32px !important
}

.urbstyle-padding-top-24 {
	padding-top: 24px !important
}

.urbstyle-left {
	float: left !important
}

.urbstyle-right {
	float: right !important
}

.urbstyle-button:hover {
	color: #000 !important;
	background-color: #ccc !important
}

.urbstyle-transparent,
.urbstyle-hover-none:hover {
	background-color: transparent !important
}

.urbstyle-hover-none:hover {
	box-shadow: none !important
}

/* Colors */
.urbstyle-amber,
.urbstyle-hover-amber:hover {
	color: #000 !important;
	background-color: #ffc107 !important
}

.urbstyle-aqua,
.urbstyle-hover-aqua:hover {
	color: #000 !important;
	background-color: #00ffff !important
}

.urbstyle-blue,
.urbstyle-hover-blue:hover {
	color: #fff !important;
	background-color: #2196F3 !important
}

.urbstyle-light-blue,
.urbstyle-hover-light-blue:hover {
	color: #000 !important;
	background-color: #87CEEB !important
}

.urbstyle-brown,
.urbstyle-hover-brown:hover {
	color: #fff !important;
	background-color: #795548 !important
}

.urbstyle-cyan,
.urbstyle-hover-cyan:hover {
	color: #000 !important;
	background-color: #00bcd4 !important
}

.urbstyle-blue-grey,
.urbstyle-hover-blue-grey:hover,
.urbstyle-blue-gray,
.urbstyle-hover-blue-gray:hover {
	color: #fff !important;
	background-color: #607d8b !important
}

.urbstyle-green,
.urbstyle-hover-green:hover {
	color: #fff !important;
	background-color: #4CAF50 !important
}

.urbstyle-light-green,
.urbstyle-hover-light-green:hover {
	color: #000 !important;
	background-color: #8bc34a !important
}

.urbstyle-indigo,
.urbstyle-hover-indigo:hover {
	color: #fff !important;
	background-color: #3f51b5 !important
}

.urbstyle-khaki,
.urbstyle-hover-khaki:hover {
	color: #000 !important;
	background-color: #f0e68c !important
}

.urbstyle-lime,
.urbstyle-hover-lime:hover {
	color: #000 !important;
	background-color: #cddc39 !important
}

.urbstyle-orange,
.urbstyle-hover-orange:hover {
	color: #000 !important;
	background-color: #ff9800 !important
}

.urbstyle-deep-orange,
.urbstyle-hover-deep-orange:hover {
	color: #fff !important;
	background-color: #ff5722 !important
}

.urbstyle-pink,
.urbstyle-hover-pink:hover {
	color: #fff !important;
	background-color: #e91e63 !important
}

.urbstyle-purple,
.urbstyle-hover-purple:hover {
	color: #fff !important;
	background-color: #9c27b0 !important
}

.urbstyle-deep-purple,
.urbstyle-hover-deep-purple:hover {
	color: #fff !important;
	background-color: #673ab7 !important
}

.urbstyle-red,
.urbstyle-hover-red:hover {
	color: #fff !important;
	background-color: #f44336 !important
}

.urbstyle-sand,
.urbstyle-hover-sand:hover {
	color: #000 !important;
	background-color: #fdf5e6 !important
}

.urbstyle-teal,
.urbstyle-hover-teal:hover {
	color: #fff !important;
	background-color: #009688 !important
}

.urbstyle-yellow,
.urbstyle-hover-yellow:hover {
	color: #000 !important;
	background-color: #ffeb3b !important
}

.urbstyle-white,
.urbstyle-hover-white:hover {
	color: #000 !important;
	background-color: #fff !important
}

.urbstyle-black,
.urbstyle-hover-black:hover {
	color: #fff !important;
	background-color: #000 !important
}

.urbstyle-grey,
.urbstyle-hover-grey:hover,
.urbstyle-gray,
.urbstyle-hover-gray:hover {
	color: #000 !important;
	background-color: #9e9e9e !important
}

.urbstyle-light-grey,
.urbstyle-hover-light-grey:hover,
.urbstyle-light-gray,
.urbstyle-hover-light-gray:hover {
	color: #000 !important;
	background-color: #f1f1f1 !important
}

.urbstyle-dark-grey,
.urbstyle-hover-dark-grey:hover,
.urbstyle-dark-gray,
.urbstyle-hover-dark-gray:hover {
	color: #fff !important;
	background-color: #616161 !important
}

.urbstyle-pale-red,
.urbstyle-hover-pale-red:hover {
	color: #000 !important;
	background-color: #ffdddd !important
}

.urbstyle-pale-green,
.urbstyle-hover-pale-green:hover {
	color: #000 !important;
	background-color: #ddffdd !important
}

.urbstyle-pale-yellow,
.urbstyle-hover-pale-yellow:hover {
	color: #000 !important;
	background-color: #ffffcc !important
}

.urbstyle-pale-blue,
.urbstyle-hover-pale-blue:hover {
	color: #000 !important;
	background-color: #ddffff !important
}

.urbstyle-text-amber,
.urbstyle-hover-text-amber:hover {
	color: #ffc107 !important
}

.urbstyle-text-aqua,
.urbstyle-hover-text-aqua:hover {
	color: #00ffff !important
}

.urbstyle-text-blue,
.urbstyle-hover-text-blue:hover {
	color: #2196F3 !important
}

.urbstyle-text-light-blue,
.urbstyle-hover-text-light-blue:hover {
	color: #87CEEB !important
}

.urbstyle-text-brown,
.urbstyle-hover-text-brown:hover {
	color: #795548 !important
}

.urbstyle-text-cyan,
.urbstyle-hover-text-cyan:hover {
	color: #00bcd4 !important
}

.urbstyle-text-blue-grey,
.urbstyle-hover-text-blue-grey:hover,
.urbstyle-text-blue-gray,
.urbstyle-hover-text-blue-gray:hover {
	color: #607d8b !important
}

.urbstyle-text-green,
.urbstyle-hover-text-green:hover {
	color: #4CAF50 !important
}

.urbstyle-text-light-green,
.urbstyle-hover-text-light-green:hover {
	color: #8bc34a !important
}

.urbstyle-text-indigo,
.urbstyle-hover-text-indigo:hover {
	color: #3f51b5 !important
}

.urbstyle-text-khaki,
.urbstyle-hover-text-khaki:hover {
	color: #b4aa50 !important
}

.urbstyle-text-lime,
.urbstyle-hover-text-lime:hover {
	color: #cddc39 !important
}

.urbstyle-text-orange,
.urbstyle-hover-text-orange:hover {
	color: #ff9800 !important
}

.urbstyle-text-deep-orange,
.urbstyle-hover-text-deep-orange:hover {
	color: #ff5722 !important
}

.urbstyle-text-pink,
.urbstyle-hover-text-pink:hover {
	color: #e91e63 !important
}

.urbstyle-text-purple,
.urbstyle-hover-text-purple:hover {
	color: #9c27b0 !important
}

.urbstyle-text-deep-purple,
.urbstyle-hover-text-deep-purple:hover {
	color: #673ab7 !important
}

.urbstyle-text-red,
.urbstyle-hover-text-red:hover {
	color: #f44336 !important
}

.urbstyle-text-sand,
.urbstyle-hover-text-sand:hover {
	color: #fdf5e6 !important
}

.urbstyle-text-teal,
.urbstyle-hover-text-teal:hover {
	color: #009688 !important
}

.urbstyle-text-yellow,
.urbstyle-hover-text-yellow:hover {
	color: #d2be0e !important
}

.urbstyle-text-white,
.urbstyle-hover-text-white:hover {
	color: #fff !important
}

.urbstyle-text-black,
.urbstyle-hover-text-black:hover {
	color: #000 !important
}

.urbstyle-text-grey,
.urbstyle-hover-text-grey:hover,
.urbstyle-text-gray,
.urbstyle-hover-text-gray:hover {
	color: #757575 !important
}

.urbstyle-text-light-grey,
.urbstyle-hover-text-light-grey:hover,
.urbstyle-text-light-gray,
.urbstyle-hover-text-light-gray:hover {
	color: #f1f1f1 !important
}

.urbstyle-text-dark-grey,
.urbstyle-hover-text-dark-grey:hover,
.urbstyle-text-dark-gray,
.urbstyle-hover-text-dark-gray:hover {
	color: #3a3a3a !important
}

.urbstyle-border-amber,
.urbstyle-hover-border-amber:hover {
	border-color: #ffc107 !important
}

.urbstyle-border-aqua,
.urbstyle-hover-border-aqua:hover {
	border-color: #00ffff !important
}

.urbstyle-border-blue,
.urbstyle-hover-border-blue:hover {
	border-color: #2196F3 !important
}

.urbstyle-border-light-blue,
.urbstyle-hover-border-light-blue:hover {
	border-color: #87CEEB !important
}

.urbstyle-border-brown,
.urbstyle-hover-border-brown:hover {
	border-color: #795548 !important
}

.urbstyle-border-cyan,
.urbstyle-hover-border-cyan:hover {
	border-color: #00bcd4 !important
}

.urbstyle-border-blue-grey,
.urbstyle-hover-border-blue-grey:hover,
.urbstyle-border-blue-gray,
.urbstyle-hover-border-blue-gray:hover {
	border-color: #607d8b !important
}

.urbstyle-border-green,
.urbstyle-hover-border-green:hover {
	border-color: #4CAF50 !important
}

.urbstyle-border-light-green,
.urbstyle-hover-border-light-green:hover {
	border-color: #8bc34a !important
}

.urbstyle-border-indigo,
.urbstyle-hover-border-indigo:hover {
	border-color: #3f51b5 !important
}

.urbstyle-border-khaki,
.urbstyle-hover-border-khaki:hover {
	border-color: #f0e68c !important
}

.urbstyle-border-lime,
.urbstyle-hover-border-lime:hover {
	border-color: #cddc39 !important
}

.urbstyle-border-orange,
.urbstyle-hover-border-orange:hover {
	border-color: #ff9800 !important
}

.urbstyle-border-deep-orange,
.urbstyle-hover-border-deep-orange:hover {
	border-color: #ff5722 !important
}

.urbstyle-border-pink,
.urbstyle-hover-border-pink:hover {
	border-color: #e91e63 !important
}

.urbstyle-border-purple,
.urbstyle-hover-border-purple:hover {
	border-color: #9c27b0 !important
}

.urbstyle-border-deep-purple,
.urbstyle-hover-border-deep-purple:hover {
	border-color: #673ab7 !important
}

.urbstyle-border-red,
.urbstyle-hover-border-red:hover {
	border-color: #f44336 !important
}

.urbstyle-border-sand,
.urbstyle-hover-border-sand:hover {
	border-color: #fdf5e6 !important
}

.urbstyle-border-teal,
.urbstyle-hover-border-teal:hover {
	border-color: #009688 !important
}

.urbstyle-border-yellow,
.urbstyle-hover-border-yellow:hover {
	border-color: #ffeb3b !important
}

.urbstyle-border-white,
.urbstyle-hover-border-white:hover {
	border-color: #fff !important
}

.urbstyle-border-black,
.urbstyle-hover-border-black:hover {
	border-color: #000 !important
}

.urbstyle-border-grey,
.urbstyle-hover-border-grey:hover,
.urbstyle-border-gray,
.urbstyle-hover-border-gray:hover {
	border-color: #9e9e9e !important
}

.urbstyle-border-light-grey,
.urbstyle-hover-border-light-grey:hover,
.urbstyle-border-light-gray,
.urbstyle-hover-border-light-gray:hover {
	border-color: #f1f1f1 !important
}

.urbstyle-border-dark-grey,
.urbstyle-hover-border-dark-grey:hover,
.urbstyle-border-dark-gray,
.urbstyle-hover-border-dark-gray:hover {
	border-color: #616161 !important
}

.urbstyle-border-pale-red,
.urbstyle-hover-border-pale-red:hover {
	border-color: #ffe7e7 !important
}

.urbstyle-border-pale-green,
.urbstyle-hover-border-pale-green:hover {
	border-color: #e7ffe7 !important
}

.urbstyle-border-pale-yellow,
.urbstyle-hover-border-pale-yellow:hover {
	border-color: #ffffcc !important
}

.urbstyle-border-pale-blue,
.urbstyle-hover-border-pale-blue:hover {
	border-color: #e7ffff !important
}